button {
  border: none;
  background-color: rgb(179, 158, 39);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(212, 194, 27);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(202, 51, 25);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}
